@charset "UTF-8";

@import "reset", "common", "index";

#wrap {
    @include fullsize;
}

.wrap_inner{
    padding-top:10rem;

    #searching{
        @include fullsize;

        .searching_inner{
            @include container;

            .logo_searching{
                display: flex;
                .logo_area{
                    
                    img{
                        width:8rem;
                    }
                }

                .searching_area{
                    width:56rem;
                    height:4.8rem;
                    padding-right:1.4rem;
                    border-radius:2.5rem;
                    background:#fff;
                    border:1px solid #5055b1;

                    .all_searching{

                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        width:13.3rem;
                        height:4.8rem;
                        
                        #sear_list{
                            border:none;
                            vertical-align: middle;                            
                            appearance:none;
                            background:none;
                            // padding: 11px 16px 5px 24px;  
                            color:#242424;
                            font-size:1.5rem;
                            font-weight: 700;
                            margin-left:3rem;
                            width:100%;
                            // line-height: 10px;

                            option{                                           
                                min-height:1.2em;
                                display: block;                                                                                         
                            }
                        }

                        #ys_button{                            
                            position: relative;
                            border-bottom:none;
                            border-radius:2.4rem;
                            background: none;
                            transition: none;
                            z-index:1;

                            .arrow_icon{                             
                              
                                position: absolute;
                                right:21px;
                                top:-8px;
                                img{
                                    width:6px;
                                height:4px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}



